/* 
* ------------------------  FONT SIZE  ---------------------------
*/
.home {
  &__container {

  }

  &__main-navbar {
  }

  &__logo-box {

    &--img {

    }
  }

  &__list-01 {
    &--item {

    }

    &--text {

    }
  }

  &__content {
    &--sidebar {

    }

    &--body {
    }
  }
}

/* 
* --------------------------  COLORS  ----------------------------
*/

.home {
  &__container {
    //! Test
    background-color: darkorange;
  }

  &__main-navbar {
  }

  &__logo-box {

    &--img {

    }
  }

  &__list-01 {
    &--item {

    }

    &--text {
      color: white;
    }
  }

  &__content {
    &--sidebar {
      //! Test
      background-color: green;
    }

    &--body {
    }
  }
}

/* 
* ------------------------  STRUCTURE  ---------------------------
*/


.home {
  height: 100%;
  max-width: 100%;
  border-radius: 4rem;
  
  &__container {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
    border-radius: 4rem;
  }

  &__main-navbar {
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
  }

  &__logo-box {
    margin-left: 2rem;

    &--img {
      transform: scale(.65);
    }
  }

  &__list-01 {
    display: flex;
    margin-right: 2rem;

    &--item {
      padding: 2rem;
      list-style: none;
    }
    
    &--text {
      text-decoration: none;
    }
  }

  &__content {
    flex: 1 1;
    display: flex;
    

    &--sidebar {
      flex: 0 1 30%;

      border-bottom-right-radius: 4rem;
    }

    &--body {
      flex: 1 1;
      border-bottom-left-radius: 4rem;
    }
  }
}