/* 
* ------------------------  FONT SIZE  ---------------------------
*/
.home {
  &__container {

  }

  &__content {
    &--sidebar {

    }

    &--body {
    }
  }
}

/* 
* --------------------------  COLORS  ----------------------------
*/

.home {
  &__container {
    //! Test
    background-color: darkorange;
  }

  &__content {
    &--sidebar {
      //! Test
      background-color: green;
    }

    &--body {
    }
  }
}

/* 
* ------------------------  STRUCTURE  ---------------------------
*/


.home {
  height: 100%;
  max-width: 100%;

  border-radius: 4rem;
  
  &__container {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
    border-radius: 4rem;
  }

  &__content {
    flex: 1 1;
    display: flex;

    &--body {
      flex: 1 1;
      
      border-bottom-left-radius: 4rem;
    }

    &--sidebar {
      flex: 0 1 30%;

      border-bottom-right-radius: 4rem;
    }

  }
}