html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
FONTS
font-family: 'Poppins', sans-serif; - Main
font-family: 'Rubik', sans-serif;   - Body
*/