/**
 * * -----------------------  FLEX  ------------------------
 */
 .flex {
  display: flex;

  //? flex-direction
  &-dir-c {
    flex-direction: column;
  }
  &-dir-r {
    flex-direction: row;
  }

  //? justifty-content
  &-jc-c {
    justify-content: center;

    &--slf {
      justify-self: center;
    }
  }
  &-jc-fs {
    justify-content: flex-start;
    
    &--slf {
      justify-self: start;
    }
  }
  &-jc-fe {
    justify-content: flex-end;
    
    &--slf {
      justify-self: end;
    }
  }
  &-jc-sb {
    justify-content: space-between;
    
    &--slf {
      justify-self: space;
    }
  }
  &-jc-a {
    justify-content: around;
  }
  &-jc-se {
    justify-content: space-evenly;
  }

  //? align-items 
  &-ai-c {
    align-items: center;

    &--slf {
      align-self: center;
    }
  }
  &-ai-fs {
    align-items: flex-start;
    
    &--slf {
      align-self: flex-start;
    }
  }
  &-ai-fe {
    align-items: flex-end;
    
    &--slf {
      align-self: flex-end;
    }
  }
  &-ai-s {
    align-items: stretch;
    
    &--slf {
      align-self: stretch;
    }
  }
  &-ai-b {
    align-items: baseline;
    
    &--slf {
      align-self: baseline;
    }
  }
}
