@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-navbar__list--text {
    @apply text-base;
  }
}

@layer utilities {
  .set-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}