.arrow {      
  top: 50%;
  transition: transform ease-in 0.1s;

  &:hover {
    transform: scale(1.05);
  }

  & span {
    &:focus {
      outline: 0;
    }
  }

  &__right, &__left {
    font-size: 2.75rem;
  }

  &__left {
    transform: rotate(180deg);
  }
};